/* css reset */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: black;
}

.overflow-n {
  overflow: hidden;
}

.d-none {
  display: none;
  transition: all 0.5s ease-in-out;
}

/* the big rectangle  whole page */
.container {
  width: 55%;
  margin: 0 auto;
  border: 1px solid rgb(47, 51, 54);
  border-top: none;
  border-bottom: none;
  color: white;
}

/* username and nb of tweet and goback */
.container .header {
  display: flex;
  align-items: flex-start;
  padding: 0.3rem;
}

.header .icon {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  border-radius: 100%;
}

.header .icon:hover,
.profile-info .btn:hover {
  background-color: rgba(171, 171, 171, 0.4);
}

.header .icon img {
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
}

.header .fullName {
  font-size: 1.5vw;
  font-weight: bolder;
  margin-left: 1rem;
}

.header .tweetsNumber {
  font-size: 1.2vw;
  font-weight: lighter;
  color: rgba(174, 172, 172, 1);
  margin-left: 1rem;
}

/* profilePhoto */
.profilePhoto-container {
  position: relative;
  max-height: 30vh;
}
.profilePhoto-container .profilePhoto-big {
  background: url("../assets/profile.jpg");
  height: 10rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
}

.profilePhoto-circle {
  background: url("../assets/download.png");
  height: 7rem;
  width: 8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  border: 3px solid black;
  position: absolute;
  top: 7rem;
  left: 2%;
}

.otherUserPhoto {
  height: 4rem;
  width: 4rem;
  margin-left: 2%;
  border-radius: 100%;
  border: 3px solid black;
}

/* profile-info */

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info .btn {
  align-self: flex-end;
  margin: 1rem;
  padding: 0.6rem;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(174, 172, 172, 0.7);
  cursor: pointer;
  font-size: 1vw;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
}

.info-content {
  margin: 0 2vw;
}

.info-content .fullName {
  font-size: 2.5vw;
  color: white;
}

.info-content .userName,
.joinDate,
.info-content {
  font-weight: lighter;
  font-size: 1vw;
  padding: 1vh 0;
  color: rgba(174, 172, 172, 1);
}

.joinDate > i {
  padding-right: 0.4vw;
  margin-top: 10px;
}

.info-stat {
  display: flex;
  margin-top: 6px;
}

.info-stat > p {
  margin-right: 30px;
}

.followers span,
.following span {
  color: white;
  padding-right: 10px;
}

.horizontal-bar .content {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
.content .bar-btn {
  color: white;
  text-decoration: none;
  font-size: 1.2vw;
  cursor: pointer;
}

.content .bar-btn.active {
  border-bottom: 4px solid #00a3ff;
  border-radius: 1px;
}

.user-tweet {
  display: flex;
  margin: 1rem 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem 0;
}

.profilePhoto-circle.samll {
  position: relative;
  height: 3.8rem;
  width: 3.8rem;
  top: 0;
  left: 2%;
}

.tweet-info {
  width: 75%;
  margin: 0 1rem;
  letter-spacing: 0.8px;
}

.tweet-info .fullName {
  font-size: 1.2vw;
  font-weight: bolder;
}

.tweet-info .userName,
.tweet-date {
  font-size: 0.8vw;
  font-weight: lighter;
  margin-top: 0.1rem;
}

.tweet-text {
  font-size: 1vw;
  font-weight: lighter;
  margin: 0.7rem 0;
}

.nb-like {
  margin-top: 0.5rem;
  text-align: end;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nb-like span {
  margin-left: 5px;
}

.nb-like:hover {
  color: rgb(138, 43, 43, 0.8);
}

.tweet-media {
  border-radius: 5px;
  max-height: 30rem;
  width: 100%;
}

/* edit profile */

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 112, 131, 0.4);
  z-index: 1;
  transition: all 0.5s ease-in-out;
  overflow-y: auto;
}

.edit-container {
  z-index: 2;
  position: absolute;
  height: 35rem;
  width: 35rem;
  background-color: black;
  top: 2rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  color: white;
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
}

.edit-container .close {
  margin: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.edit-container .close:hover,
.edit-container .btn-save:hover {
  color: rgba(91, 112, 131, 0.4);
}

.edit-container .title {
  font-size: 2vw;
  padding: 1rem;
}

.edit-container .btn-save {
  background-color: white;
  color: black;
  font-weight: bolder;
  padding: 0.7rem;
  border-radius: 50px;
  margin: 0.7rem;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.edit-container .btn-save:hover {
  background-color: rgba(91, 112, 131, 0.2);
  color: white;
}

.edit-container .change {
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-container .change i {
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.edit-container .change i:hover {
  color: rgb(91, 112, 131, 0.7);
}

.input-edit form {
  text-align: center;
  margin-top: 5rem;
}

.edit-container .input,
.edit-container .bio {
  width: 35vw;
  height: 60px;
  border-radius: 5px;
  background-color: black;
  border: solid 1px rgb(255, 255, 255, 0.6);
  color: white;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  margin-bottom: 0.7rem;
  outline: none;
}

.edit-container .input:focus,
.edit-container .bio:focus {
  border: solid 2px #199bf0;
}

/* to remove arrow from input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.edit-container .date {
  color: #8c8c8c;
  margin-top: 0.5rem;
}

.edit-container .date > p {
  text-align: left;
  margin-left: 5%;
  color: white;
  font-weight: bolder;
  font-size: 0.9rem;
  letter-spacing: 0px;
}
.edit-container .date select {
  margin-right: 1%;
}

.edit-container .month {
  width: 35%;
  margin-top: 1.2rem;
}

.edit-container .day {
  width: 20%;
  margin-top: 1.2rem;
}
.edit-container .year {
  width: 30%;
  margin-top: 1.2rem;
}

.input-edit form input,
.bio {
  width: 90%;
}

.edit-container .bio {
  height: 80px;
  padding-top: 10px;
}

@media only screen and (max-width: 980px) {
  .profile-info .btn {
    font-size: 1.5vw;
  }

  .info-content .userName,
  .joinDate,
  .info-content {
    font-size: 2vw;
  }

  .content .bar-btn {
    font-size: 1.8vw;
  }

  .tweet-info .fullName {
    font-size: 2vw;
  }

  .tweet-info .userName,
  .tweet-date {
    font-size: 1.5vw;
  }

  .tweet-text {
    font-size: 2vw;
  }

  .profilePhoto-circle.samll {
    height: 5rem;
    width: 5rem;
  }

  .edit-container {
    height: 70%;
    width: 80vw;
  }

  .edit-container .input,
  .edit-container .bio {
    width: 45vw;
    height: 80px;
    margin: 15px 5px;
  }
  .year {
    margin-bottom: 22rem;
  }

  .edit-container .date > p {
    margin-left: 20%;
  }
}
