*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    display: flex;
    opacity: 1;
}

.hero-element{
    width: 50%;
}

.hero-image{
    width: 100%;
    height: 121%;
}

.content{
    display: flex;
    flex-direction: column;
}

.item{
    width: 100%;
    padding: 3% 5%;
}

.item-title{
    font-size: 70px;
    font-family: sans-serif;
}

.item-subtitle1{
    font-size: 35px;
    font-family: sans-serif;
}

.hero-button{
    margin-top: 5%;
    padding: 2% 5%;
    border: none;
    border-radius: 50px;
    background-color: #1d9bf0;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.hero-button:hover{
    cursor: pointer;
    background-color: #1a8cd8;
}

h6{
    padding-top: 1%;
    color: #98949d;
    font-family: sans-serif;
}

span{
    color: #1d9bf2;
}

.item-subtitle2{
    margin-top: 5%;
    font-size: 20px;
    font-family: sans-serif;
}

.signin-button{
    margin-top: 3%;
    padding: 2% 19%;
    border-radius: 50px;
    border: 1px solid #cfd9de;
    color: #1d9bf0;
    background-color: #ffff;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.signin-button:hover{
    cursor: pointer;
    background-color: #e8f5fe;
}

.login-popup{
    display: none;
    position: absolute;
    background-color: white;
    width: 45%;
    height: auto;
    border-radius: 20px;
    flex-direction: column;
    margin: 5% 26%;
}

.all{
    position: relative;
}

.header{
    display: flex;
    position: relative;
}

.icon{
    flex-basis: 45%;
}

.logo{
    flex-basis: 55%;
}

.close-button{
    background-color: white;
    border: none;
    font-size: 20px;
    font-weight: 100;
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px 10px;
}

.close-button:hover{
    background-color: #e6e7e7;
    cursor: pointer;
    border-radius: 60px;
}

.twitter-logo{
    float: left;
    margin-top: 8px;
    width: 45px;
    height: 40px;
}

.signin-title{
    margin-top: 20px;
    font-family: sans-serif;
}

.input{
    margin-top: 50px;
    padding: 18px 50px;
    border-radius: 5px;
    border: 1px solid #cfd9de;
    outline: none;
}

.password{
    margin-top: 20px;
}

::placeholder{
    font-size: 14px;
}

.input-email:focus{
    border: 2px solid #1d9bf0;
}

.popup-button{
    border-radius: 50px;
    margin-top: 25px;
    font-size: 15px;
    font-weight: bold;
}

.next{
    color: white;
    background-color: #0f1419;
    padding: 1% 20%;
}

.forgot{
    color: #0f1419;
    background-color: white;
    border: 1px solid #cfd9de;
    padding: 1% 13%;
}

.last{
    margin-top: 50px;
}

h4{
    color: #536471;
    font-weight: lighter;
    font-family: sans-serif;
    margin-bottom: 30px;
}

span{
    color: #1d9bf0;
}

