/* css reset */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #24383e;
  height: auto;
  width: 100vw;
}

.container {
  padding: 1% 10%;
  display: flex;
  justify-content: center;
  color: white;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.join-style {
  background-color: black;
  width: 40vw;
  height: auto;
  border-radius: 30px;
  padding: 2rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
  padding: 3.5rem;
}

.d-none {
  display: none;
}

.goBack {
  z-index: -1;
}

.title {
  font-size: 1.3rem;
  margin-bottom: 1.7rem;
}

/* x close the popup or go to main page */
.close {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.close a {
  color: white;
  text-decoration: none;
}

.btn {
  width: 80%;
  height: 55px;
  font-size: 1rem;
  font-weight: bolder;
  margin: 0.8rem;
  border-radius: 50px;
  cursor: pointer;
}

.btn:hover {
  background-color: #bcbcbc;
}

button[disabled] {
  color: rgb(150, 150, 150);
  cursor: not-allowed;
}

/*  chooce sigup method 1st section */

.sign-up-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 1.3rem;
}

.sign-up-btn i {
  margin: 0 1rem;
}

hr {
  display: inline-flex;
  margin: auto;
  width: 30%;
  border-color: rgb(84, 84, 84);
}

.hr > span {
  font-size: 1.3rem;
  margin: 20px;
}

.policy {
  margin: 2rem 0 5rem 5rem;
  text-align: left;
  width: 80%;
  height: 90%;
  font-size: 0.9rem;
}

.policy a {
  text-decoration: none;
  color: #1d9bf0;
}

.policy a:hover {
  text-decoration: underline;
}

/* popup form 2nd section   */
.popup-signup {
  z-index: 2;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

/* step of creating account */
.step {
  font-size: 1.2rem;
  font-weight: bolder;
  padding-bottom: 10px;
  margin-bottom: 2rem;
}

.card {
  width: 80%;
  margin: auto;
  padding: 0.5rem;
}

.input {
  width: 31vw;
  height: 60px;
  border-radius: 5px;
  background-color: black;
  border: solid 1px rgb(255, 255, 255, 0.6);
  color: white;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  margin-bottom: 0.7rem;
  outline: none;
}

.input:focus {
  border: solid 2px #199bf0;
}

.date {
  color: #8c8c8c;
  margin-top: 0.7rem;
}

.date > p {
  color: white;
  font-weight: bolder;
  font-size: 0.9rem;
  margin-bottom: 3px;
  letter-spacing: 0px;
}

.date span {
  letter-spacing: 0px;
}

.select {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.month {
  width: 45%;
  margin-top: 1.2rem;
  margin-right: 1px;
}

.day {
  width: 20%;
  margin-top: 1.2rem;
  margin-right: 1px;
}

.year {
  width: 30%;
  margin-top: 1.2rem;
}

.btn-submit {
  display: block;
  margin: auto;
  text-align: center;
  width: 95%;
  margin-top: 5px;
  font-size: 1.2rem;
}

/* Media Query */
/* this section not end */
@media only screen and (max-width: 980px) {
  body {
    overflow-x: hidden;
  }

  .join-style {
    width: auto;
    height: auto;
    background-color: transparent;
    overflow: hidden;
  }

  .title {
    padding: 0.8rem;
    font-size: 2.2rem;
  }
  .close {
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
  }

  .btn {
    width: 80%;
    height: 90px;
    font-size: 2rem;
    margin: 2rem auto;
    padding: 1.2rem;
  }
  .sign-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
  }

  .select {
    display: block;}

  .policy {
    font-size: 1.8vw;
  }
  .input {
    display: block;
    margin: 1rem auto;
  }

  .month,
  .day,
  .year,
  .input {
    width: 60%;
  }

  .date {
    text-align: center;
    margin: auto;
  }

   
}

